:root:root {
  --van-tabs-bottom-bar-color: #2D62E9;
  --van-tab-font-size: 28px;
  --van-overlay-background: rgba(0, 0, 0, 0);
  --van-popover-action-width: auto;
  --van-popover-action-height: 44px;
  --van-popover-action-font-size: 18px;
  --van-popover-action-font-weight: bold;
  --van-popover-action-icon-size: 22px;
}

.van-cell--clickable {
  [data-theme='dark'] & {
    color: $color8 !important;

  }
}


.van-popover--dark .van-popover__content,
.van-popover--light .van-popover__content {
  max-height: 210px;
  overflow-y: scroll;
}


.van-popover__action-text {
  font-weight: 450;
}

.van-cell {
  position: relative !important;

  &.van-collapse-item__title--expanded {
    &::after {
      display: none;
    }
  }
}

.van-popup--top {
  width: 200px !important;
  max-height: 80px;
  overflow-y: scroll;
  border-radius: 16px;
  position: relative;
}

.van-popup {
  max-height: 200px !important;
}



.van-popover__content {
  padding: 10px 0;

  div:hover {
    background: #7c7c7c;

    [data-theme='dark'] & {
      background: #e4e4e4;
    }
  }
}

.van-dropdown-item__option--active,
.van-dropdown-item__option--active .van-dropdown-item__icon {
  background-color: #F5C3364D !important;
}

.van-cell__value {
  display: none;
}

.van-cell,
.van-collapse-item__content {
  background: transparent !important;
}