@font-face {
  font-family: "iconfont"; /* Project id 4393530 */
  src: url('iconfont.woff2?t=1703847057438') format('woff2'),
       url('iconfont.woff?t=1703847057438') format('woff'),
       url('iconfont.ttf?t=1703847057438') format('truetype'),
       url('iconfont.svg?t=1703847057438#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xunzhang:before {
  content: "\e66e";
}

.icon-ai250:before {
  content: "\e6ee";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-gongneng:before {
  content: "\e641";
}

.icon-jilu:before {
  content: "\e62d";
}

.icon-moon-fill:before {
  content: "\e6c0";
}

.icon-shanchu:before {
  content: "\e675";
}

.icon-weibiaoti7:before {
  content: "\e611";
}

.icon-a-icon-more1:before {
  content: "\e619";
}

.icon-web3:before {
  content: "\e6fd";
}

